.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.btn-group .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-group .btn-outline-primary:hover,
.btn-group .btn-outline-primary:focus {
  background-color: #007bff;
  color: white;
}

.btn-group .btn-outline-danger:hover,
.btn-group .btn-outline-danger:focus {
  background-color: #dc3545;
  color: white;
}

.nv-file-over {
  border: dotted 3px red;
}
